*{
    display: flexbox;
    padding: 0;
    margin: 0;
}
body{
    min-height: 150vh;
    display: block;
    padding: 10px;
}
.caLc{
    background-color: #fff;
    place-content: center;
    align-items: center;
    justify-content: center;
}
form{
    border: 1px solid #ccc;
    background-color: #6c757d;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    max-width: 28rem;
    display: inline-block;
    padding: 1rem;
}
.input--text{
    width: 99%;
    height: 3.5rem;
    padding-top: 1rem;
    background-color: #fff;
    border: 1px solid #000;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}
.calc .button{
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    padding: 10px;
}
button{
    width: 5rem;
    height: 3rem;
    border-radius: 5px;
    font-weight: bolder;
    padding-left: 30px;
}
.height--add{
   width: 10rem;
}
.red--color{
    background-color: #dc3545 !important;
}