*{
    font-family: 'Noto Sans','Liberation Sans';
    font-size: larger;
    font-weight: 550;
    /* padding: 0; */
    /* margin: 0; */
}
.main{
    display: block;
    width: 15rem;
    border: 2px solid #000;
    place-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 5px 2px 2px 0px rgb(-10 0  0 );
    border-radius: 10px;
}
.screen{
    width: 15rem;
    height: 3rem;
    border: 2px solid #000;
    border-radius: 10px;
    padding-bottom: 1rem;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    place-content: center;
    place-items: center;
    padding-top: 1rem;
    gap: 4px;
    padding-bottom: 0.5rem;
}
.buttons label{
    width: 80px;
    padding-right: 5px;
    padding: 2px 1px 2px 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #ccc;
    padding: 5px;
}
.red{
    background-color: #dc3545!important;
}
.equal{
    width: 15rem;
    align-items: center;
    place-content: center;
    place-items: center;
    border: 2px solid #000;
    padding-top: 1rem;
    gap: 1rem;
    border-radius: 10px;
    background-color: #dc3545!important;

}
.equal .equals{
    align-items: center;
    place-content: center;
    place-items: center;
    padding: 130px;
    font-size: 2.5rem;
}
